@model IEnumerable<WebEscuelaMVC.Models.Aula>


<p>@Html.ActionLink("+ Nueva Aula", "Create", "Aula")</p>
<table>
    <tr>
        <th>@Html.DisplayNameFor(m => m.Id)</th>
        <th>@Html.DisplayNameFor(m => m.Numero)</th>
        <th>@Html.DisplayNameFor(m => m.Estado)</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.DisplayFor(m => item.Id)</td>
            <td>@Html.DisplayFor(m => item.Numero)</td>
            <td>@Html.DisplayFor(m => item.Estado)</td>
            <td>@Html.ActionLink("Detalle", "Detail", new { id = item.Id })</td>
            <td>@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</td>
            <td>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</td>
        </tr>
    }
</table>